 * {
	margin: 0;
	padding: 0;
	outline: none;
}

html {
	height: 100%
}

body {
	width: 100%;
	height: 100%;
	color: #333;
	background: #f7f7f7;
	font-size: 1em;
	font-family: "Segoe UI", sans-serif;
	line-height: 135%;
	background: url('fone.jpg') repeat-y;
}

header {
	width: 100%;
	height: 150px;
}

input {
	border-radius: 7px;
	font-size: 1em;
	border: 2px solid silver;
}

h2 {
	width: 20%;
	text-align:center;
	font-family: sans-serif;
	box-sizing: border-box;
	position: relative;
	left: 40%;
	top: 30px;
}

button {
	width: 180px;
	height: 40px;
	border-radius: 7px;
	font-size: 1.2em;
}


#auth {
	width: 180px;
	height: 40px;
	text-align: center;
	font-size: 1.2em;
	margin-left: 0.9em;
}

#authb {
	position: relative;
	top: 50px;
	right: 185px;
}

#authd {
	float: left;
}

#textinn {
	text-align: right;
}

#search {
	width: 300px;
	height: 30px;
	margin-right: 0.5em;
}

#searchb {
	width: 100px;
	height: 33px;
	margin-right: 0.9em;
}

#text {
	width: 98%;
	height: 400px;
	margin-top:10px;
	border-radius: 7px;
	font-size: 1.7em;
	border: 2px solid silver;
}