<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>Test</title>
 </head>
 <body>
 	<header>
	<h2>TEST</h2>
 	<div id="authd">
 		<form action="" method="POST" name="auth">
 			<input id="auth" type="text" placeholder="Код клиента" name="auth">	
	</div>
	<div id="textinn">
			<input id="search" placeholder="Введите для поиска" type="text" name="search">
			<button id="searchb" type="submit" name="search">Найти</button>		
	</div>
	</header>
	<center>
	<div id="input">		
			<textarea name="inn"></textarea>
			<button id="inn" type="submit" name="inn">Добавить</button>
			{% for post in from_bd %}
			<input id="text" value="You shall not pass" name="inn" disabled>
			{% endfor %}
		</form>			
	</div>
	</center>
 </body>
</html>
