<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>Test</title>
 </head>
 <body>
        <header>
        <h2>Test</h2>
        <div id="authd">
                <form action="/post" method="POST">
                        <input id="auth" type="text" value="{{ code_client }}" placeholder="Код клиента" name="auth">
                        {% if res %}
                        <input id="stat" value="{{ res }}" name="stat" disabled>
                        {% endif %}
        </div>
        <div id="textinn">
                        <input id="search" placeholder="Введите для поиска" type="text" name="searchtext">
                        <button id="searchb" type="submit" value="search" name="search">Найти</button>
        </div>
        </header>
        <center>
        <div id="input">
                        <textarea name="inntext"></textarea>
                        <button id="inn" type="submit" value="inn" name="inn">Добавить</button>
                </form>
        {% for post in from_bd %}
        <input id="text" value="You shall not pass" name="inn" disabled>
        {% endfor %}
        </div>
        </center>
 </body>
</html>

