<html>
 <head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>Test</title>
 </head>
 <body>
        <header>
        <h2>TEST</h2>
        <div id="authd">
                <form action="/post" method="POST">
                        <input id="auth" type="text" value="{{ code_client }}" placeholder="Код клиента" name="client_code">
                        {% if res %}
                        <h1>{{ res }}</h1>
                        {% endif %}
        </div>
        <div id="textinn">
                        <input id="search" placeholder="Введите для поиска" type="text" name="searchform">
                        <button id="searchbutt" value="search" type="submit" name="searchbutt">Найти</button>
        </div>
        </header>
        <center>
        <div id="input">
                        <input id="text" type="text" name="submtextform">
                        <button id="inn" value="input" type="submit" name="text_sumb_form">Добавить</button>
                </form>
        {% for post in bdposts %}
        <input id="text" type="text" name="text">
        {% endfor %}
        </div>
        </center>
 </body>
</html>
