<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>Test</title>
 </head>
 <body>
 	<header>
 		<h2>TEST</h2>
 	</header>

 	<div id="input">
		<input id="button" type="button" value="Код клиента" name="auth">
		<input id="button" type="button" value="Добавить" name="inn">
	    <input id="button" type="button" value="Найти" name="search">		
	</div>
	<div id="textinn">
		<input id="text" placeholder="Код клиента" type="text" name="auth">
		<input id="text" placeholder="Введите чтобы добавить" type="text" name="inn">
		<input id="text" placeholder="Введите для поиска" type="text" name="search">
	</div>
 </body>
</html>